In [1]:
import vaex
import numpy as np

In [2]:
a = np.array(['a', 'b', 'c'])
x = np.array([1, 2, 3])

df1 = vaex.from_arrays(a=a, x=x)

df1

  #  a      x
  0  a      1
  1  b      2
  2  c      3

In [3]:
b = np.array(['a', 'b', 'd'])
y = np.array([4, 5, 6])

df2 = vaex.from_arrays(b=b, y=y)

df2

  #  b      y
  0  a      4
  1  b      5
  2  d      6

The default join, is a **left** join, where all rows for the left DataFrame (`df1`) are kept, and matching rows of the right DataFrame (`df2`) are added.
We see that for the columns `b` and `y`, some values are missing, as expected.

In [4]:
df1.join(df2, left_on='a', right_on='b')

  #  a      x  b    y
  0  a      1  a    4
  1  b      2  b    5
  2  c      3  --   --

A **right** join, is basically the same, but now the roles of the left and right label swapped, so now we have some values from columns `x` and `a` missing.

In [5]:
df1.join(df2, left_on='a', right_on='b', how='right')

  #  b      y  a    x
  0  a      4  a    1
  1  b      5  b    2
  2  d      6  --   --

We can also do **inner** join, in which the output DataFrame has only the rows common between `df1` and `df2`.

In [6]:
df1.join(df2, left_on='a', right_on='b', how='inner')

  #  a      x  b      y
  0  a      1  a      4
  1  b      2  b      5