In [1]:
import pyspark
import pandas as pd

In [3]:
pd.read_csv('test_data.csv')

    Name  Age
0   John   35
1   Jane   34
2  Stacy   28
3  Jimmy   25