In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('test_data.csv')

    Name  Age
0   John   35
1   Jane   34
2  Stacy   28
3  Jimmy   25

In [3]:
type(pd.read_csv('test_data.csv'))

pandas.core.frame.DataFrame

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('PySpark Basics').getOrCreate()

22/12/20 00:01:33 WARN Utils: Your hostname, Abhinavs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
22/12/20 00:01:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/20 00:01:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('test_data.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [9]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| John| 35|
| Jane| 34|
|Stacy| 28|
|Jimmy| 25|
+-----+---+

In [10]:
df_pyspark = spark.read.option('header', 'true').csv('test_data.csv')

In [11]:
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
| John| 35|
| Jane| 34|
|Stacy| 28|
|Jimmy| 25|
+-----+---+

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.head(2)

[Row(Name='John', Age='35'), Row(Name='Jane', Age='34')]

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)