In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('test_data.csv')

    Name  Age
0   John   35
1   Jane   34
2  Stacy   28
3  Jimmy   25

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('PySpark Basics').getOrCreate()

22/12/19 23:55:37 WARN Utils: Your hostname, Abhinavs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
22/12/19 23:55:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/19 23:55:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark