In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('PySpark Dataframes 2').getOrCreate()

22/12/20 00:56:59 WARN Utils: Your hostname, Abhinavs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
22/12/20 00:56:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/20 00:56:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/12/20 00:56:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/12/20 00:56:59 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
df_pyspark = spark.read.csv('test_data-2.csv', header=True, inferSchema=True)

In [3]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| John|  35|        12| 40000|
| Jane|  34|        11| 35000|
|Stacy|  28|         8| 56000|
|Jimmy|  25|         5| 42000|
|  Joe|  27|         8| 55000|
|  Tim|null|      null| 85000|
| null|  36|         9| 45000|
| null|  29|      null|  null|
+-----+----+----------+------+